
html {
    background-color: #deded8;
    font-family: trebuchet, geneva, sans-serif;
    text-align: center;
}

body {
    margin: 0;
}

#top {
    background-color: #333;
    color: #ccc;
    text-align: center;
    border-bottom: 1px solid;
}

#column2, #column1, footer, #top {
    padding: 0.5rem;
    box-sizing: border-box;
}
  
#column1 {
    background-color: white;
}   

footer{
    text-align: center;
   
} 
ul{     
    padding: 0;   
    list-style: none;
}

@media(min-width:720px){
    #headerText{
        margin-top: 125px;
    }
    main{
        display: flex;
        flex-direction: row;
    }
    .container, #picture{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;            
    }
    img{
        margin: 20px;
        padding: 5px;
        border: 10px solid #333;
        border-radius: 4px;
    }
    #harryPic{
        
    }
}
    





