html{
    background-image: linear-gradient(rgba(33, 33, 33, 0.75),rgba(33,33,33,0.75)), 
    url("https://cdn.pixabay.com/photo/2021/10/02/01/48/background-6674010_960_720.jpg");
    background-position: center;
}
body{
    text-align: center;  
    color: rgb(243, 243, 243);  
    
}
h1{
    font-size: 100px;
}
label{
    font-size: 25px;
}

 h1, label, input,option,button,select{

    padding: 5px;
    margin: 5px;
 }


p{
    font-weight: 900
}
#pictures{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
option:hover{
    border-radius: 4px;
    cursor:pointer;
    background-color: rgb(176, 245, 143);
}
button:hover{
    background-color: rgb(176, 245, 143);
    border-radius: 4px;
    cursor:pointer;
  }
  li{
    border: 3px solid rgb(154, 160, 241);
    border-radius: 4px;
    padding: 5px;
    margin: 5px 5px;    
    list-style: none;
    
}
img {
    width:  600px;
    height: 450px;
    object-fit:contain;    
}
