#pictures{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

img {
    width:  600px;
    height: 450px;
    object-fit:contain;
    
}
li{
    border: 3px solid rgb(154, 160, 241);
    border-radius: 4px;
    padding: 5px;
    margin: 5px 5px;
    
    list-style: none;
}
